nav {
<<<<<<< HEAD
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: #e0e0e0 solid 1px;
}

ul {
  flex-grow: 1;
}

=======
  background-color: #495cc6;
  padding: 10px;
}

>>>>>>> 456e93560037a4d38ef131720d0a387e3e228d1c
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
<<<<<<< HEAD
  flex-grow: 1;
=======
  display: flex;
>>>>>>> 456e93560037a4d38ef131720d0a387e3e228d1c
}

nav ul li {
  margin-right: 15px;
}

<<<<<<< HEAD
nav ul li:last-child {
  margin-right: 0;
=======
nav ul li a {
  color: darkblue;
  transition: background-color 0.2s;
>>>>>>> 456e93560037a4d38ef131720d0a387e3e228d1c
}

nav a {
  text-decoration: none;
  color: #525252;
  line-height: 50px;
  font-size: 18px;
  transition: color 0.2s ease-in;
}

<<<<<<< HEAD
nav a:hover {
  color: darkblue;
}

.logo-div {
  display: flex;
  align-items: center;
  margin-right: 20px;
  height: 50px;
  margin-top: 15px;
}

.logo {
  height: 50px;
  width: auto;
}

=======

*/ {
  background-color: lightblue;
}

>>>>>>> 456e93560037a4d38ef131720d0a387e3e228d1c
#homess {
  padding: 10px;
  margin-top: 50px;
  height: 200px;
  width: 400px;
}
body {
  font-family: "IBMPlexMono", sans-serif;
}

@font-face {
  font-family: "IBMPlexSans";
  src: url("/fonts/IBMPlexSans-Regular.woff2") format("woff2"),
    url("/fonts/IBMPlexSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexSerif";
  src: url("/fonts/IBMPlexSerif-Regular.woff2") format("woff2"),
    url("/fonts/IBMPlexSerif-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexMono";
  src: url("/fonts/IBMPlexMono-Regular.woff2") format("woff2"),
    url("/fonts/IBMPlexMono-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
