nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: #e0e0e0 solid 1px;
  margin-bottom: 10px;
  background-color: whitesmoke;
}

ul {
  flex-grow: 1;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  flex-grow: 1;
}

nav ul li {
  margin-right: 15px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav a {
  text-decoration: none;
  color: #525252;
  line-height: 50px;
  font-size: 18px;
  transition: color 0.2s ease-in;
}

nav a:hover {
  color: darkblue;
}

.logo-div {
  display: flex;
  align-items: center;
  margin-right: 20px;
  height: 50px;
  margin-top: 15px;
}

.logo {
  height: 90px;
  width: auto;
}

#homess {
  padding: 10px;
  margin-top: 50px;
  height: 200px;
  width: 400px;
  position: absolute;
  top: 70px;
  right: 10px;
}
body {
  font-family: "IBMPlexMono", sans-serif;
  background-color: #e0e2e3;
  margin: 0;
}

@font-face {
  font-family: "IBMPlexSans";
  src: url("/fonts/IBMPlexSans-Regular.woff2") format("woff2"),
    url("/fonts/IBMPlexSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexSerif";
  src: url("/fonts/IBMPlexSerif-Regular.woff2") format("woff2"),
    url("/fonts/IBMPlexSerif-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexMono";
  src: url("/fonts/IBMPlexMono-Regular.woff2") format("woff2"),
    url("/fonts/IBMPlexMono-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.text {
  width: 65%;
  text-align: justify;
  margin-left: 20px;
}

.allimages {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.344);
  border-radius: 10px;
}
